
    .custom-select {
      &_container{
        max-width: 412px;
        width: 100%;
      }
      &__control{
        background-color: rgba(255, 255, 255, 0.05) !important;
        border: none !important;
        border-radius: 10px;
        &--menu-is-open{
          box-shadow:( 0 0 0 1px ) var(--color-green) !important;
        }
      }
      &__menu{
        background-color: rgba(255, 255, 255, 0.05) !important;
        &-list::-webkit-scrollbar {
          width: 4px;
          height: 0px;
        }
        &-list::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, 0.2) !important;
          border-radius: 3px !important;
        }
        &-list::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.2) !important;
          border-radius: 3px !important;
        }
        &-list::-webkit-scrollbar-thumb:hover {
          background: var(--color-green) !important;
          border-radius: 3px !important;
        }
      }
      &__option{
        &--is-focused, &--is-selected{
          background-color: var(--color-green) !important;
          color: black !important;
        }
      }
      &__single-value{
        font-family: 'Proxima Nova' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 14px !important;
        color: white !important;
      }
      &__placeholder{
        font-family: 'Proxima Nova' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 14px !important;
        color: white !important;
      }
    }

    .price-wrapper{
      display: flex;
      font-size: 18px;
      .price-title{
        margin-right: 24px;
      }
      .price-value{
        color:var(  --color-green)
      }
    }


        .information{
            margin-bottom: 24px;
        }
